 * {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
 }

 .wrapper {
   max-width: 960px;
   width: 100%;
   margin: 0 auto;
 }

 header,
 footer {
   text-align: center;
   padding: 30px 0;
   color: #333333;
 }

 footer {
   background: #efefef;
   font-style: italic;
 }

 main {
   background: #efefef;
   display: flex;
   border-top: 5px solid #ccc;
 }

 ul {
   display: flex;
   flex-wrap: wrap;
   max-width: 68%;
   align-items: center;
   text-align: center;
   width: 100%;
 }

 ul li {
   list-style: none;
   padding: 45px 0;
   font-size: 4vw;
   color: #fff;
   width: calc(100%/3);
 }

 [data-item='1'],
 [data-item='8'] {
   background: #6f98a8;
 }

 [data-item='2'],
 [data-item='4'] {
   background: #2b8ead;
 }

 [data-item='3'],
 [data-item='5'],
 [data-item='9'] {
   background: #2f454e;
 }

 [data-item='6'],
 [data-item='7'] {
   background: #bfbfbf;
 }

 .btn-wrapper {
   width: 30%;
   text-align: center;
   margin-left: 1%;
 }

 .btn-wrapper button {
   background: #72c3dc;
   border: 1px solid #2b8ead;
   border-radius: 5px;
   box-shadow: 0px 5px 0px #2b8ead;
   color: #fff;
   font-size: 16px;
   padding: 15px 0;
   margin-top: 25px;
   text-shadow: 1px 1px 1px #2b8ead;
   transition: All 250ms ease;
   max-width: 240px;
   width: 100%;
   cursor: pointer;
   position: relative;
   outline: none;
 }

 button:active {
   top: 5px;
   box-shadow: none !important;
 }

 @media screen and (max-width: 768px) {
   header {
     background: #333;
     color: #fff;
   }

   main {
     flex-direction: column-reverse;
     background: transparent;
   }

   ul {
     flex-direction: column;

   }

   ul {
     max-width: 90%;
     margin: auto;
     background: transparent;
   }

   ul li {
     width: 100%;
     max-width: 100%;
     margin-bottom: 5px;
     color: #333;
     padding: 15px 0;
   }

   .btn-wrapper {
     width: 100%;
     display: flex;
     justify-content: space-around;
     margin: 25px 0;
   }

   .btn-wrapper button {
     margin: 0;
     max-width: 45%;
   }

   [data-item='1'],
   [data-item='8'] {
     background: #efefef;
     border-left: 5px solid #6f98a8;
   }

   [data-item='2'],
   [data-item='4'] {
     border-left: 5px solid #2b8ead;
     background: #efefef;
   }

   [data-item='3'],
   [data-item='5'],
   [data-item='9'] {
     border-left: 5px solid #2f454e;
     background: #efefef;
   }

   [data-item='6'],
   [data-item='7'] {
     border-left: 5px solid #bfbfbf;
     background: #efefef;
   }

   footer {
     background: transparent;
   }
 }